.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: lightgray;
}

body{
    margin: 0;
    padding: 0;
}

.header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 220px;
    margin: auto;
}

.header ul li{
    padding: 10px;
    font-size: 18px;
}

.header .link h2{
    margin: 0;
}

.header .link{
    text-decoration: none;
}